.app-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f8f9fa;

  .app-sidenav {
    background: #222d32;
    width: 230px;
  }

  .app-sidenav-content {
    padding: 2rem;
  }
}
