.app-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f8f9fa;

  .app-sidenav {
    background: #222d32;
    width: 230px;

    .input-search {
      display: flex;
      margin: 10px;
      background-color: #374850;
      align-items: center;
      border-radius: 2px;
      color: #666;

      &.input-search--focus {
        background: #fff;
      }

      input {
        padding: 10px;
      }

      i,
      input::placeholder {
        color: #999;
      }

      i {
        margin: 0 10px;
      }
    }
  }

  .app-sidenav-content > header {
    border-bottom: 1px solid #dfdfdf;

    ::ng-deep .mat-form-field-wrapper {
      padding: 0;
      border-right: 1px solid #dfdfdf;

      .mat-form-field-flex {
        background: none;
      }
      .mat-form-field-underline {
        display: none;
      }
      .mat-form-field-suffix {
        top: -0.6em !important;
        color: #777;
        font-size: 12px;
      }
      .mat-select-arrow {
        visibility: hidden;
      }
    }
  }

  .app-sidenav-content > main {
    padding: 2rem;
  }
}
