<h1>Configuration</h1>

<table class="table__documentation">
  <tbody>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>menu</td>
      <td>Menu</td>
      <td>undefined</td>
      <td>
        The menu items to display. See <a routerLink="/menu-interface">Menu Interface</a> page to get more information.
      </td>
    </tr>
    <tr>
      <td>role</td>
      <td>Role</td>
      <td>undefined</td>
      <td>Defines the current user role to hide or disable menu items with roles definition.</td>
    </tr>
    <tr>
      <td>iconClasses</td>
      <td>string</td>
      <td>undefined</td>
      <td>
        Defines the default icon classes for menu items. can be overridden in <a routerLink="/menu-interface">Menu</a>
      </td>
    </tr>
    <tr>
      <td>toggleIconClasses</td>
      <td>string</td>
      <td>undefined</td>
      <td>Defines the icon classes for the menu parents toggle elements.</td>
    </tr>
    <tr>
      <td>search</td>
      <td>string</td>
      <td>undefined</td>
      <td>Defines search text to filter displayed menu items.</td>
    </tr>
  </tbody>
</table>

<h2>Example</h2>
<app-code-highlight language="javascript">{{ example }}</app-code-highlight>
