.asm-menu-anchor {
  display: block;
  border-left: 3px solid transparent;

  &.asm-menu-anchor--active {
    border-left-color: #3c8dbc !important;
  }
  a {
    color: #b8c7ce;
    font-size: 14px;
    line-height: 20px;
    padding: 12px 5px 12px 15px;

    &:hover {
      background: #1e282c;
    }
  }
}

.asm-menu-node ul .asm-menu-anchor {
  border-left: none;

  a {
    padding: 5px 15px;
    color: #8aa4af;
    background: none;
  }

  &:hover a,
  &.asm-menu-anchor--active a {
    background: none;
    color: #fff !important;
  }
}

.asm-menu-item--disabled {
  opacity: 0.5;

  .asm-menu-anchor a[href]:hover,
  .asm-menu-anchor a[routerLink]:hover {
    cursor: not-allowed;
  }
  .asm-menu-anchor a:hover {
    background: inherit;
    color: #b8c7ce;
  }
  .asm-menu-node .asm-menu-node .asm-menu-anchor a {
    color: #8aa4af !important;
  }
}

.asm-menu-node ul {
  background: #2c3b41;
  padding-left: 5px !important;

  .asm-menu-node ul {
    padding-left: 20px !important;
  }
}

.asm-menu-item__header {
  padding: 10px 25px 10px 15px !important;
  color: #4b646f;
  background: #1a2226;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 12px;

  .asm-menu-item__header {
    margin-left: -5px;
    padding: 6px 12px 6px 20px !important;
  }
}

.asm-badges__badge {
  padding: 0.2em 0.6em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  border-radius: 0.25em;

  &.badge--green {
    background-color: #00a65a;
  }
  &.badge--red {
    background-color: #dd4b39;
  }
  &.badge--yellow {
    background-color: #f39c12;
  }
  &.badge--blue {
    background-color: #3c8dbc;
  }
}

.asm-menu--mode-mini {
  .asm-menu-node__label,
  > ul > .asm-menu-item > .asm-menu-anchor .asm-menu-anchor__label {
    font-weight: 400;
  }

  > ul > .asm-menu-item:hover > .asm-menu-node > ul,
  > ul > .asm-menu-item:hover > .asm-menu-anchor .asm-menu-anchor__label {
    border-radius: 0 4px 4px 0;
  }

  .asm-menu-node__label,
  > ul > .asm-menu-item:hover > .asm-menu-anchor .asm-menu-anchor__label {
    line-height: 14px;
    padding: 12px 15px;
    color: #b8c7ce;
    display: block;
    background: #1e282c;
    margin-left: -5px;
  }
}
