.mk-sidebar-menu {
  a {
    font-size: 14px;
    line-height: 20px;
  }

  & > li > div > a {
    border-left: 3px solid transparent;
    padding: 12px 5px 12px 15px;
    color: #b8c7ce;
  }

  & > li > .mk-menu-item-active > a {
    border-left-color: #3c8dbc;
  }

  & > li:hover > .mk-menu-item > a,
  & > li > .mk-menu-item-active > a,
  & > li > .mk-menu-node-open > a {
    background: #1e282c;
  }

  li:hover > .mk-menu-item > a,
  li > .mk-menu-node-open > a,
  li > .mk-menu-item-active > a {
    color: #fff !important;
  }

  & > li > .mk-menu-separator {
    padding: 10px 25px 10px 15px !important;
  }

  .mk-menu-node > ul {
    background: #2c3b41;
    padding-left: 6px !important;

    & > li > div > a {
      padding: 5px 5px 5px 15px;
      color: #8aa4af;
    }

    .mk-menu-separator {
      margin-left: -6px;
      padding: 6px 12px 6px 20px !important;
    }

    .mk-menu-node ul {
      padding-left: 20px !important;
    }
  }

  .mk-menu-pull-right > span {
    padding: 0.2em 0.6em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    border-radius: 0.25em;

    &.mk-badge-green {
      background-color: #00a65a;
    }
    &.mk-badge-red {
      background-color: #dd4b39;
    }
    &.mk-badge-yellow {
      background-color: #f39c12;
    }
    &.mk-badge-blue {
      background-color: #3c8dbc;
    }
  }

  .mk-menu-separator {
    color: #4b646f;
    background: #1a2226;
    font-size: 12px;
    text-transform: uppercase;
  }
}
