<h1>Menu Definition</h1>

<table class="table__documentation">
  <tbody>
    <tr>
      <th>Name</th>
      <th>Definition</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>Menu</td>
      <td>
        <app-code-highlight language="javascript">{{ menuType }}</app-code-highlight>
      </td>
      <td>List of menu items.</td>
    </tr>
    <tr>
      <td>MenuItemLeafRoute</td>
      <td>
        <app-code-highlight language="javascript">{{ menuItemLeafRouteType }}</app-code-highlight>
      </td>
      <td>Routed item definition.</td>
    </tr>
    <tr>
      <td>MenuItemLeafURL</td>
      <td>
        <app-code-highlight language="javascript">{{ menuItemLeafURLType }}</app-code-highlight>
      </td>
      <td>Item with external link definition.</td>
    </tr>
    <tr>
      <td>MenuItemNode</td>
      <td>
        <app-code-highlight language="javascript">{{ menuItemLeafNodeType }}</app-code-highlight>
      </td>
      <td>Node Item definition.</td>
    </tr>
  </tbody>
</table>

<h2>Example</h2>
<app-code-highlight language="javascript">{{ menuConfExample }}</app-code-highlight>
